anndata>=0.8.0
numpy>=1.21.6
scanpy>=1.9.1
loguru>=0.6.0
anndata2ri>=1.1
sc3s>=0.1.1
rpy2>=3.5.6
scikit-learn>=1.2.0
SpaGCN>=1.2.5
torch>=1.13.1
stlearn>=0.4.11
pandas>=1.5.2
opencv-python>=4.6.0
scipy>=1.9.3
rich>=13.0.0
triku>=2.1.4
statsmodels>=0.13.5
SpatialDE>=1.1.3